html, body {
  font-family: sans-serif;
}

body {
  width: 335px;
  min-height: 200px;
  
}

a {
  text-decoration: none;
  color: black;
  border-bottom: 0.5px dashed black;
}

hr {
  border-top: 0.25px solid #f0f0f0;
}

#sp-header {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

#sp-sitetrack-storage {
  padding-top: 5px;
  font-size: 14px;
  font-weight: 400;
}

#sp-sitetrack-storage-e {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 5px;
  display: none;
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#chart-holder {
  padding: 15px 0;
}

.sitetrack-element {
  padding: 2.5px 5px;
  font-size: 14px;
}

.sitetrack-url {
  font-weight: 700;
}

.sitetrack-value {
  float: right;
}

.site-dot {
  background: 'rgba(128, 128, 128, 0.2)';
  border-radius: 50%;
  display: inline-block;
  height: 5px;
  margin-left: 4px;
  margin-right: 4px;
  width: 5px;
}



/* buttons */




/* need to clean up the below */

.button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 35px;
  line-height: 35px;
  padding: 0 1.5rem;
  color: #424242;
  font-size: 15px;
  font-family: sans-serif;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  outline: none;
  border: none;
  user-select: none;
  border-radius: 10px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.225);


}

.button:active { text-decoration: none; box-shadow: 0 2px 3px 0px rgba(30, 30, 30, 0.5); }

/* set initial values for pressed on buttons */
#stats-head, #today-graph {
  background: rgba(54, 162, 235, 0.2);
}

#expand-sitetrack-container {
  text-align: center;
}

#expand-sp-sitetrack {
  display: inline-block;
  text-align: center;
  position: relative;
  cursor: pointer;
  width: 28px;
  height: 28px;
  color: #424242;
  font-size: 14px;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  outline: none;
  border: none;
  user-select: none;
  border-radius: 50%;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.225);
}

#expand-sp-sitetrack:hover {
  background: #eeeeee;
}