/* I NEED TO COMMENT UP THE CSS */

html, body {
  font-family: sans-serif;
}

body {
  width: 335px;
  min-height: 200px;
  
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

hr {
  border-top: 0.25px solid #f0f0f0;
}

.button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 35px;
  line-height: 35px;
  padding: 0 1.5rem;
  color: #424242;
  font-size: 15px;
  font-family: sans-serif;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  outline: none;
  border: none;
  user-select: none;
  border-radius: 10px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.225);
}

.button:active { text-decoration: none; box-shadow: 0 2px 3px 0px rgba(30, 30, 30, 0.5); }

/* Tooltip */
#tooltip {
  display: inline-block;
  position: relative;
  margin: 5px 0px;
  background: #555555;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 16px;
  text-align: center;
  color: white;
  cursor: default;
}
#tooltiptext {
  font-family: sans-serif;
  margin-top: 2px;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.25px;
  visibility: hidden;
  width: 180px;
  background-color: #555555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -170px;
}
#tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: 70px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555555 transparent;
}
#tooltip:hover #tooltiptext {
  visibility: visible;
}

/* Starting display arrangement */

#stats-page {
  display: block;
}

#block-page {
  display: none;
}

#settings-page {
  display: none;
}

/* STATS PAGE */

#sp-header {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

#sp-sitetrack-storage {
  padding-top: 5px;
  font-size: 14px;
  font-weight: 400;
}

#sp-sitetrack-storage-e {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 5px;
  display: none;
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#chart-holder {
  padding: 15px 0;
}

#no-data-motiv {
  display: none;
  padding: 15px 10px;
}

#ndm-header {
  font-size: 14.5px;
  font-style: italic;
  line-height: 1.4;
}

#ndm-quote-container {
  margin: 10px 0;
  padding: 15px 15px;
  background: #f8f8f8;
  border-top: #ffffff 5px solid; /* color is changed in popup js */
}

#ndm-quote-text {
  text-align: left;
  font-size: 20px;
  line-height: 1.4;
}

#ndm-quote-author {
  padding-top: 5px;
  padding-left: 10px;
  text-align: right;
  font-size: 15px;
  line-height: 1.4;
}

.sitetrack-empty {
  padding: 10px 10px;
  font-size: 16px;
}

.sitetrack-element {
  padding: 2.5px 5px;
  font-size: 14px;
}

.sitetrack-url {
  font-weight: 700;
}

.sitetrack-value {
  float: right;
}

.site-dot {
  background: 'rgba(128, 128, 128, 0.2)';
  border-radius: 50%;
  display: inline-block;
  height: 5px;
  margin-left: 4px;
  margin-right: 4px;
  width: 5px;
}

/* BLOCK PAGE */

#block-page {
  margin: 10px 0;
}

#block-input-header {
  display: block;
  padding: 10px 5px;
  font-size: 20px;
  font-weight: 700;
}

#block-input {
  padding: 5px 5px;
  display: flex;
  justify-content: space-between;
}

/* COOL INPUT THING BELOW, BLOCK PAGE */

#block-input-bar {
  display: inline-block;
  padding: 7.5px 5px;
  width: 165px;
  font-size: 14px;
  outline: none;
  border: none;
  border-bottom: 2px solid #aaaaaa;
}

#block-input-bar:focus {
  border-bottom: 2px solid rgb(54, 162, 235);
}

.submit-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: 7.5px 15px;
  color: #ffffff;
  background: rgb(54, 162, 235);
  font-size: 14px;
  letter-spacing: 0.5px;
  font-family: sans-serif;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  outline: none;
  border: none;
  user-select: none;
  border-radius: 2px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.225);
}

.submit-button:active {
  text-decoration: none;
  box-shadow: 0 1.5px 1.5px 0px rgba(30, 30, 30, 0.5);
}

#block-input-notification {
  display: block;
  margin: 5px 5px;
  font-size: 12px;
  font-style: italic;
  line-height: 1.3;
}

#blocked-sites-container {
  margin-right: 50px;
  padding: 5px 10px;
}

#block-sites-item {
  display: flex;
  justify-content: space-between;
  background: #f9f9f9;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.225);
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: 700;
}

#block-sites-item-url {
  margin-top: 1px; /* hard-coded to fix misalignment */
}

#block-sites-item-cancel {
  display: inline-block;
  padding: 2px 2px;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  font-size: 12.8px;
  width: 16px;
  height: 16px;
  color: white;
  background: rgb(255, 99, 132);

}

#block-sites-item:hover {
  box-shadow: 0 2px 3px 0px rgba(30, 30, 30, 0.5);
}

#test {
}















/* Buttons */

/* set initial values for pressed on buttons */
#stats-page-button, #today-graph {
  background: rgba(54, 162, 235, 0.2);
}

#expand-sitetrack-container {
  text-align: center;
  display: none;
}

#expand-sp-sitetrack {
  display: inline-block;
  text-align: center;
  position: relative;
  cursor: pointer;
  width: 28px;
  height: 28px;
  color: #424242;
  font-size: 14px;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  outline: none;
  border: none;
  user-select: none;
  border-radius: 50%;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.225);
}

#expand-sp-sitetrack:hover {
  background: #eeeeee;
}

#sp-clear-storage:hover {
  background: #eeeeee;
}