html, body {
  font-family: sans-serif;
}

body {
  width: 300px;
  min-height: 200px;
  
}

hr {
  border-top: 0.25px solid #f0f0f0;
}

#sp-header {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.sp-sitetrack {
  margin: 10px 10px;
  text-align: left;
}

#sp-weblink, #sp-webtimer {
  font-weight: 400;
}

#sp-current {
  padding: 5px 0px;
  font-size: 14px;
  font-weight: 700;
}

#sp-sitetrack-storage {
  padding: 5px 0px;
  font-size: 14px;
  font-weight: 400;
}

#mydot {
  background: gold;
  border-radius: 50%;
  display: inline-block;
  height: 5px;
  margin-left: 4px;
  margin-right: 4px;
  width: 5px;
}    


/* buttons */








.rkmd-btn {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 35px;
  line-height: 35px;
  padding: 0 1.5rem;
  color: #424242;
  font-size: 15px;
  font-weight: 600;
  font-family: sans-serif;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  outline: none;
  border: none;
  user-select: none;
  border-radius: 2px;
  transition: all .3s ease-out;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.225);

}

  .rkmd-btn:hover { text-decoration: none; box-shadow: 0 4px 10px 0px rgba(0,0,0,0.225); }

  .captions {
    padding: 8px;
    color: rgba(0,0,0,0.5);
    font-size: 13px;
    font-weight: bold;
    border-top: 1px solid rgba(0,0,0,0.1);
  }

  .disabled {
    cursor: default !important;
    color: #9e9e9e !important;
    box-shadow: none !important;
  }
